<div class="header">
  <h4 class="back-to-list" routerLink="/" routerLinkActive="active">
    <i class="fa fa-arrow-left"></i> Heroes List
  </h4>
</div>
<div class="heroes-information" *ngIf="hero">
  <div class="flex-parent">
    <img class="hero_img" [src]=" '../assets/images/' + hero.image "/>
    <div class="flex-child">
      <h2> {{hero.firstName}} {{hero.lastName}}</h2>
      <h4> Born on {{hero.DOB | date: "d MMMM, yyy"}}</h4>
      <h4> + 1 ({{(hero.contact | number).split(',').join("-")}})</h4>
    </div>
  </div>
  
  

</div>
